.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

/* @keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
} */

.panel-window {
  background-color: rgb(36, 37, 38);
  box-shadow: 0 0px 4px 0 rgb(0, 0, 0);
}

.panel-title {
  font-size: large;
  font-weight: bold;
  /* background-color: rgb(33, 34, 35); */
  background-color: rgb(65, 67, 69);
  box-shadow: inset 0 0px 4px 0 rgba(0, 0, 0, 0.4);
  padding: 3px 10px 3px 10px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
