body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  background-color: rgb(24, 25, 26);
  color: rgb(245, 246, 247);
  font-family: "Consolas";
  font-size: 14px;
  box-sizing: border-box;
  /* border: solid rgb(219, 91, 202) 1px; */
  /* height: 100%; */
}